h1 Thank you!
p Thanks for your suggestion. We will consider it and get back to you shortly.
p In the mean time, here's a copy of your recipe suggestion for your records.
h2 Recipe:  #{name}
h2 Ingredients
p= ingredients

h2 Directions
p= directions

p
    a(href='/recipes') Return to the recipes list
